# SSH
.ssh/

# Shell history
.bash_history
.bash_logout
.bash_profile
.bashrc

# Git editor/config temporary files
.gitconfig
.gitconfig.swp

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment files
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
.local


# OS
.DS_Store
Thumbs.db

# Docker local state
.docker/

# Shell history
.lesshst
